img {
  width: 80px;
}

/* --- NAVBAR --- */

.navbar {
  border-bottom: 2px solid gray;
  padding: 1.5rem;
}

.navbar-collapse {
  align-items: center;
  justify-content: flex-end;
}

.nav-link {
  color: orangered;
  cursor: pointer;
  font-weight: 500;
  font-size: large;
}

.bi-cart {
  font-weight: 900;
}

.item-count {
  display: flex;
  gap: 0;
}

.has-items {
  color: transparent;
  background: black;
  position: absolute;
  right: 107px;
  top: 33px;
  height: 10px;
  width: 10px;
  font-size: smaller;
  padding: 0px 0px;
  border-radius: 100px;
}

/* --- PRODUCTS --- */

.products {
  justify-content: center;
  align-items: center;
  background: rgba(255, 68, 0, 0.686);
  gap: 7rem;
  padding: 2rem;
  margin: 0;
}

.card {
  width: 20rem;
  height: 30rem;
}

.card img {
  height: 20rem;
  width: auto;
}

/* --- CART --- */

.cart {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cart-item {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 5px;
  background-color: darkkhaki;
  padding: 1rem 0px;
}

.cart-quantity {
  display: flex;
  gap: 0.5rem;
}

.cart-quantity-btn {
  padding: 0 0.7rem;
  background: #000;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 5px;
  font-weight: 700;
}

.bi-trash3-fill{
  padding: 0 0.7rem;
  background: #000;
  color: yellow;
  border: 1px solid yellow;
  border-radius: 5px;
}
.cart-price {
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.cart-remove-btn {
  background: none;
  border: none;
}

.btn-add-sub {
  padding: 0.2rem 0.7rem;
}

.btn-confirm-order {
  font-size: larger;
  font-weight: 700;
}

/* --- ADMIN PANEL --- */

.productsForm {
  background: lightblue;
  padding: 2rem 3rem;
  border-radius: 10px;
}

/* .productsForm div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
}

.productsForm div label {
  width: fit-content;
  text-decoration: underline;
  font-weight: 500;
}

.productsForm div input {
  border-radius: 50px;
  width: 50em;
} */
