img {
    width: 80px;
}

.navbar{
    border-bottom: 1px solid gray;
}

.navbar-collapse ul li a{
    color: orangered;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
}

.card{
    width: 20rem;
    height: 30rem;
}

/* .card-img-top{
    width: 200px;
    height: 200px;
} */